<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9c6faa">  <td>18/12/06 17:35:01</td>   <td>0</td> <td title="&gt;&gt;Reporter.startResult()[pri:0, instance:tcw6hw3day1.TS2_EiLd@5383967b]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1033490990</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/12/06 17:35:02</td>   <td>859</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TS1_CrLd.setData()[pri:0, instance:tcw6hw3day1.TS1_CrLd@2ac273d3]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-1@493671810</td>   <td></td> </tr>
<tr bgcolor="9c6faa">  <td>18/12/06 17:35:02</td>   <td>875</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.startTestCase()[pri:0, instance:tcw6hw3day1.TS1_CrLd@2ac273d3]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@493671810</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/12/06 17:35:02</td>   <td>890</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tcw6hw3day1.TS1_CrLd@2ac273d3]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@493671810</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/12/06 17:35:09</td>   <td>7920</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS1_CrLd.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tcw6hw3day1.TS1_CrLd@2ac273d3]">createLead</td> 
  <td>TestNG-test=Test-1@493671810</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/12/06 17:35:21</td>   <td>20020</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:tcw6hw3day1.TS1_CrLd@2ac273d3]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@493671810</td>   <td></td> </tr>
<tr bgcolor="9c6faa">  <td>18/12/06 17:35:23</td>   <td>22386</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.startTestCase()[pri:0, instance:tcw6hw3day1.TS1_CrLd@2ac273d3]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@493671810</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/12/06 17:35:23</td>   <td>22386</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tcw6hw3day1.TS1_CrLd@2ac273d3]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@493671810</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/12/06 17:35:29</td>   <td>28296</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS1_CrLd.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tcw6hw3day1.TS1_CrLd@2ac273d3]">createLead</td> 
  <td>TestNG-test=Test-1@493671810</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/12/06 17:35:40</td>   <td>38853</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:tcw6hw3day1.TS1_CrLd@2ac273d3]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@493671810</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/12/06 17:35:42</td>   <td>41223</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TS2_EiLd.setData()[pri:0, instance:tcw6hw3day1.TS2_EiLd@5383967b]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-2@2077805455</td>   <td></td> </tr>
<tr bgcolor="9c6faa">  <td>18/12/06 17:35:42</td>   <td>41223</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.startTestCase()[pri:0, instance:tcw6hw3day1.TS2_EiLd@5383967b]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-2@2077805455</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/12/06 17:35:42</td>   <td>41223</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tcw6hw3day1.TS2_EiLd@5383967b]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-2@2077805455</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/12/06 17:35:48</td>   <td>47465</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS2_EiLd.editLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tcw6hw3day1.TS2_EiLd@5383967b]">editLead</td> 
  <td>TestNG-test=Test-2@2077805455</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/12/06 17:36:02</td>   <td>61484</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:tcw6hw3day1.TS2_EiLd@5383967b]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-2@2077805455</td>   <td></td> </tr>
<tr bgcolor="9c6faa">  <td>18/12/06 17:36:05</td>   <td>63658</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.startTestCase()[pri:0, instance:tcw6hw3day1.TS2_EiLd@5383967b]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-2@2077805455</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/12/06 17:36:05</td>   <td>63658</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tcw6hw3day1.TS2_EiLd@5383967b]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-2@2077805455</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/12/06 17:37:06</td>   <td>124933</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS2_EiLd.editLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tcw6hw3day1.TS2_EiLd@5383967b]">editLead</td> 
  <td>TestNG-test=Test-2@2077805455</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>18/12/06 17:37:06</td>   <td>124949</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TS3_DpLd.setData()[pri:0, instance:tcw6hw3day1.TS3_DpLd@71423665]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-3@662722975</td>   <td></td> </tr>
</table>
